@import "styles/variables";


.sidebar {
    min-width: 270px;
    box-sizing: border-box;
    font-size: 16px;
    background-color: rgb(255, 255, 255);
    border-right: 1px $light-gray-color solid;
    transition: left 0.4s;
    height: 100vh;
    //box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 2px 0px;
    //border-radius: 8px;
    // .filters-layout__container
    @media (max-width: $md3) {
        position: absolute;
        left: -999px;

    }
    // .sidebar__body
    &__body {
    }
    // .sidebar__list
    &__list {
    }
    // .sidebar__item
    &__item {
        &:not(:last-child){
            margin-bottom: 5px;
        }
    }
    ._active{

        .submenu-item{
            position: inherit;
            opacity: 1;
            visibility: visible;
            transform: translateY(-100);
        }
    }
}

.item {
    position: relative;

    // .item__link
    &__link {
        width: 100%;
        display: inline-block !important;
        overflow: hidden;
        text-align: left;
        text-overflow: ellipsis;
        max-height: 36px;
        min-height: 18px;
    }
    // .item__arrow
    &__arrow {
    }
    // .item__submenu
    &__submenu {
    }

}
.submenu-item {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    //background-color: $whitegray;
    padding: 10px;
    transform: translateY(100);
    transition: all 150ms ease;
    // .submenu-item__link
    &__link {
        //margin-left: 5px;
        display: inline-block!important;
        overflow: hidden;
        text-align: left;
        text-overflow: ellipsis;
        max-height: 36px;
        min-height: 18px;
        &:not(:last-child) {
            margin-bottom: 1rem;
        }
    }
}

._single-link {
    margin-left: 10px;
    margin-top: 15px;
}
