@import './src/components/UI/ProductUI/ProductCart.scss';
@import './src/components/UI/ProductItem/ProductItem';




.loader {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  width: 50%;
  height: 30%;
}

.ant-table-body {
  max-height: 100% !important;
}

.productList-img {
  width: 64px;
  height: 64px;
  object-fit: cover;
}

.productList-img-2x {
  width: 128px;
  height: 128px;
  object-fit: cover;
}
.productPrevImage {
  position: relative;
  max-width: 128px;
}

.productImageDeleteBtn {
  position: absolute;
  right: 0;
  top: 0;
}
.prevFeatures {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.prevFiles__block {
  display: flex;
  flex-direction: column;
}

.template-block {
  display: flex;
  flex-direction: column;
  max-width: 96px;
  padding: 5px;
  border: #606060 solid 1px;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  margin-bottom: 4px;
}

.swiper-block {
  border: #d9d9d9 solid 1px;
  border-radius: 8px;
  padding: 10px;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: self-start;
}

.container-center {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-block {
  border: #d9d9d9 solid 1px;
  border-radius: 8px;
  padding: 0 45px;
}

// Dropdown menu

.dropdown {
  position: absolute;
  top: 50px;
  left: 0;
  z-index: 50;
  background-color: #ffffff;
  border-radius: 5px;
  padding: 14px;
  box-shadow: 0px 0px 9px 4px rgba(171, 162, 162, 0.25);

}
.dropdown-2 {
  top: 120px;
}
.sub-item {
  margin-left: 8px;
}
.dropdown__item {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.dropdown__img {
  width: 78px;
  height: 78px;
  object-fit: contain;
}
.dropdown__button {
  //position: absolute;
}
.dropdown__title {

}
.dropdown__article {

}
.dropdown__price {

}
.dropdown__stock {

}
.dropdown__stock-status {

}
.swiper-block {
  margin-top: 24px;
  overflow: scroll;
}
