// Переменные цветов

$background-color: #FAFAFA;
$red-color: #dc1f1f;
$orange-color: #FF6F00;
$light-orange-color: #FFB74D;
$white-color: #FFFFFF;
$black-color: #050505;
$light-black-color: #424242;
$gray-color: #757575;
$light-gray-color: #E0E0E0;
$extra-light-gray-color: #F5F5F5;

// Разрешения

$minWidth: 320px;
$maxWidth: 1440px;
$maxWidthContainer: 1270px;
$md1: $maxWidthContainer + 12px;
$md2: 991.98px;
$md3: 767.98px;
$md4: 479.98px;


// Тени shadow-box

@mixin shadow-main() {
  background: #FFFFFF;
  box-shadow: 0px 0px 9px 4px rgba(171, 162, 162, 0.25);
}

// Размытие blur

@mixin layer-blur() {
  background: rgba(255, 255, 255, 0.8);
  filter: blur(2px);
}

// Переменные шрифтов Fonts

@mixin body-text() {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: $black-color;
}

@mixin title-text() {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  color: $black-color;
}



@mixin link-text() {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  font-feature-settings: 'pnum' on, 'lnum' on;
}

// Border-radius

$button-border-radius: 12px; // Для большой кнопки
$default-border-radius: 8px; // Для маленькой кнопки и других элементов

// Z-indexes

$ui-index-1: 1; // Для наполняющих элементов в общем потоке
$ui-index-2: 2; // Для наполняющих элементов в общем потоке
$ui-index-3: 3; // Для масок
$ui-index-4: 4; // Для сайдбаров
$ui-index-5: 5; // Для модалок
$ui-index-6: 6; // Для элементов покрывающих все

// Размеры

$square-button-size: 44px;  // Размер круглой кнопки


// Transitions

$color-transition: 150ms;
