@import "styles/variables";

// <label htmlFor="" className="filter-label">
//     <span className="filter-chekbox">
//          <input type="checkbox" className="filter-checkbox__input _form-checkbox" />
//          <span className="filter-chekbox__chek-mark _chek-mark"></span>
//     </span>
//     <span className="filter-title">Параметра фильтра 2</span>
//     <span className="filter-count">(4)</span>
// </label>

._form-checkbox {
    display: none;
}

._check-mark {
    display: flex;
    align-items: flex-start;
    font-size: 12px;
    width: 18px;
    height: 18px;
    border: 1px solid $light-gray-color;
    border-radius: 5px;
    //padding: 1px;
    &::before {
        opacity: 0;
        color:white
    }
}

._form-checkbox:checked + ._check-mark {
    background-color: $orange-color;
    border-color: $orange-color;
    &::before {
        opacity: 1;
        align-self: center;
        margin-left: 10%;
    }
}

.filter-label:hover {
    cursor: pointer;
    color: $gray-color;
}



