<nav>
    <ul class="header__catalog-block topmenu">
      <li>
        <a href="" class="active">Категории</a>
        <ul class="submenu">
          <li><a href="">меню второго уровня</a></li>
          <li><a href="">меню второго уровня<span class="fa fa-angle-down"></span></a>
            <ul class="submenu">
              <li><a href="">меню третьего уровня</a></li>
              <li><a href="">меню третьего уровня</a></li>
              <li><a href="">меню третьего уровня</a></li>
            </ul>
          </li>
          <li><a href="">меню второго уровня</a></li>
        </ul>
      </li>
    </ul>
</nav>