//.catalog {
//    // .catalog__content
//    &__content {
//        margin: 0 auto;
//        padding: 20px;
//    }
//}
@import "styles/variables";

//=========================


.category-list {
    display: grid;
    grid-gap: 20px;
    justify-items: center;
    grid-template-columns: repeat(auto-fill,minmax(238px,1fr));
    grid-auto-rows: 1fr;
}

.category {
    flex: 1;
    margin: 10px;
    border: none;
    border-radius: $button-border-radius;
    width: 238px;
    padding: 1rem;
    overflow: hidden;
    box-sizing: border-box;
    @include shadow-main();
}

.category a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: #333;
}

.category span {
    font-family: 'Arial';
    width: 100%;
    display: inline-block;
    overflow: hidden;
    min-height: 18px;
    max-height: 34px;
}

.category img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.title {
    font-size: 16px;
    font-weight: bold;
    margin: 10px 0;
}
